
@model GuessSecretNumber.Models.SecretNumber

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <p>Gissa ett tal mellan 1 och 100: @Html.TextBoxFor(x => x.Number) <input type="submit" value="Gissa" /></p>
    
}

